 html,body{
	max-height:100%;}

	#header{
		width:550;
		background-color: transparent;
		float:left;
		position:fixed;
		top:50%;
		margin-top:-325px;
		left:15px;
		z-index:80;
		}

		h1{
			margin:0;
			padding:0;
			}

		#logo {
			display:block;
			float:left;
			font-family: 'Abril Fatface', cursive;
			font-weight:normal;
			font-size: 36px;
			color: #ccc;
			text-decoration:none;
			padding:10px;
			line-height: 24px;
			border-bottom: 2px solid #e2e2e0;
			}

		.menu {
			float:left;
			list-style-type:none;
			padding:0;
			width:100%;
			margin-top: -5px;
			font-family: "Space Mono";
			background-color: transparent
			}

		.menu li a{
			color: #ccc;
			display: block;
			font: 12px;
			font-family: 'Space Mono';
			text-transform:none;
			text-decoration:none;
			padding: 10px;
			background-color: transparent;}

		.menu a:hover{
			font-weight: bolder;}

		a {
			text-decoration: none;
			color: #666;
			}

		.selected{
			font-weight: bold;
			color:#f7aa00!important;}

		.vocemenu {
			padding-left: 10px;
			padding-right: 10px;
		}

		a:visited {
	  	color: #666;
		}


		.avanti {
			font-family: 'Roboto';
			font-size: 60px;
			top: 85%;
			margin-left: 1020px;
			color: #ddd;
			}

		.avanti a {
			text-decoration: none;
			color: #ddd;
			}

		.avanti a:visited {
			color: #ddd;
			}

	#container{
		padding:30px 0px 0px 0px;}

		.slider{
			position:absolute;
			top:50%;
			margin-top:-315px;
			width:100%;
			height:630px;
			overflow:auto;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}

		.slider.toggle_width{
			width:50%;}

		.slider .my_container{
			overflow:hidden;}

		.slider .my_container .line-element{
			float:left;
			z-index:10;
			height:600px;
			width:1050px;
			display:block;
			position:relative;
			background:#fff;
			margin-left:190px;}

		.slider .my_container span{
			position:absolute;
			bottom:0;
			left:0; }

		.slider .my_container img:first-child{
			margin-left:0;}

		.slider .my_container img:last-child{
			margin-right:0;}


	.cont-page{
			padding:20px;}

			/*pagina f*/

		.titlef{
 			font-family: 'Abril Fatface';
 			font-weight:normal;
 			font-size: 80px;
 			/*padding-top: 140px*/;
 			color: #f7aa00;
 			float:left;
 			margin-bottom: 27%;
			}

		.titlef:hover {
	    animation: color 0.7s  forwards linear;
	  }

	  @keyframes color {
	    from {color: #f7aa00;}
	    to {color: #f45611;}
	  }


    .textf {
			font-family: 'Roboto';
			font-weight: lighter;
			font-size: 14px;
			padding-bottom: 22%;
			float: left;
			color: #b5b5b5;
			}

    .text3001 {
			font-family: 'Roboto';
			font-weight: lighter;
			font-size: 14px;
			padding-bottom: 15%;
			float: left;
			}

    .text3001 a{
      color: #dddddd;
    }

    .text3001 a:hover {
      color: #cecece;
    }

    .beck{
      font-size: 12px;
      font-style: italic;
      padding-top: 5px;
    }

		.pirla{
			float:right;
			margin-right:40px;
			height:570px;
			margin-top: 20px;
			}

			/*pagina aw*/

			.titleaw{
 			font-family: 'Abril Fatface';
			height: 50px;
 			font-weight:normal;
 			font-size: 77px;
 			color: #666666;
			top: 15px;
			margin-left: 285px;
			margin-bottom: 20px;
			}

    .titleaw:hover {
	    color: #3e3e3e;
      transition: 0.7s;
	  }

		.textaw {
			font-family: 'Roboto';
			font-weight: lighter;
			font-size: 14px;
			margin-bottom: 39%;
			margin-left: 37px;
			float: left;
			color: #cecece;
			z-index: -1;
			}


		.textaw2 {
			font-family: 'Roboto';
			font-weight: lighter;
			font-size: 14px;
			margin-bottom: 39%;
			margin-left: 532px;
			float: right;
			color: #cecece;
			z-index: -1;
			}

		.aw1{
			float: left;
			padding-left: 0px;
			height:350px;
			margin-top: 200px;}

		.aw1:hover {
			transform: scale(1.1);
			transition: 0.8s;
		}

		.aw2{
			float:right;
			margin-right: 20px;
			padding-right: 40px;
			height:350px;
			margin-top: 200px;}

			.aw2:hover {
				transform: scale(1.1);
				transition: 0.8s;
			}


			/* pagina m*/

			.titlem{
				height: 50px;
	 			font-family: 'Abril Fatface';
	 			font-weight:normal;
	 			font-size: 88px;
	 			/*padding-top: 140px*/;
	 			color: #666666;
	 			float:left;
	 			padding-bottom: 50px;
        padding-left: 32px;
      }

      .titlem:hover {
  	    color: #202a3e;
        transition: 0.7s;
  	  }

      .textm{
				height: 50px;
	 			font-family: 'Roboto';
	 			font-weight:lighter;
	 			font-size: 56px;
	 			/*padding-top: 140px*/;
	 			color: #dddddd;
	 			float:right;
	 			padding-bottom: 10px;
        padding-left: 470px;}


			.m1{
				width: 195px;
				padding: 10px;
			}

			.m1:hover {
				transform: scale(1.2);
				transition: 0.5s;
			}

			.m2{
				height:438px;
				padding-top: 10px;
			}

			.m2:hover {
				transform: scale(1.2);
				transition: 0.5s;
			}


		/*pagina p*/

			.titlep{
        font-family: 'Abril Fatface';
        height: 50px;
        font-weight:normal;
        font-size: 77px;
        color: #666666;
        top: 15px;
        margin-left: 350px;
        margin-top: 30px;
      }

      .titlep:hover {
  	    color: #096338;
        transition: 0.7s;
  	  }

			.textp {
				font-family: 'Roboto';
				font-weight: lighter;
				font-size: 14px;
				padding-bottom: 25%;
				float: left;
				color: #dddddd;
			}

			.p{
				width: 120px;
				padding: 10px;
			}

			.p:hover {
				transform: scale(1.2);
				transition: 0.5s;
			}

		/*pagina c*/

			.titlec{
				height: 50px;
				font-family: 'Abril Fatface';
				font-weight:normal;
				font-size: 80px;
				/* padding-top: 140px; */
				color: #af0000;
				margin-bottom: 35%;
        margin-left: 55%;}

      .titlec:hover {
  	    color: #5b0000;
        transition: 0.7s;
  	  }


      .icons {
        width: 25px;
        height: auto;
        background-color: rgb(255,255,255);
        border-radius: 50%;
        margin-bottom: 185%;
        margin-left: 10px;
      }

      .icons:hover {
        animation: full 0.5s forwards ease-in;
      }

      @keyframes full {
        from {background-color: rgb(255,255,255);}
        to {background-color: #af0000;}

      }

      .contatti {
        color: #dddddd;
        margin-left:770px;
        margin-top: 250px;
      }

      .mail {
        font-family: 'Roboto';
        font-weight: lighter;
        font-size: 17px;
        color: #dddddd;
        padding-top: 20px;
        margin-left: -125px;
      }

      .mail a{
        color: #cecece ;
      }

      .mail a:hover {
        color: #666666;
      }
